/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 24 version
*/

  /*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 24 version
*/
.container-fluid {
  background-color: white;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.container-fluid .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.container-fluid .container .navbar-brand {
  font-family: "Pacifico", cursive;
  font-size: 28px;
}
.container-fluid .container .navbar-collapse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -webkit-justify-content: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.container-fluid .container .navbar-collapse ul {
  margin-left: 380px;
}
.container-fluid .container .navbar-collapse .shopping-cart {
  width: 20px;
}
.container-fluid .container .navbar-collapse .red-color {
  color: red;
}

.navbar {
  padding: 0;
}

header {
  background: url(/images/white\ bg.jpg);
  background-size: cover;
}
header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
header .container .header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .header__content .header__txt {
  max-width: 40%;
}
header .container .header__content .header__txt span {
  color: #AC1313;
  font-size: 12px;
}
header .container .header__content .header__txt h1 {
  padding-left: 5px;
}
header .container .header__content .header__txt .header-gray {
  color: #6E6E6E;
  padding-left: 5px;
}
header .container .header__content .header__txt .red-button {
  background-color: #AC1313;
  padding: 15px 27px;
  color: white;
  border: none;
  margin-top: 20px;
  margin-left: 5px;
  font-size: 10px;
}
header .container .header__content .header__img {
  max-width: 60%;
}

.product-categories {
  border-bottom: 1px solid gray;
}
.product-categories .pc__content {
  margin-top: 100px;
}
.product-categories .pc__content .pc__txt-main {
  text-align: center;
}
.product-categories .pc__content .pc__txt-main h2 span {
  font-family: "Pacifico", cursive;
  color: #AC1313;
}
.product-categories .pc__content .pc__circles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
  gap: 120px;
}
.product-categories .pc__content .pc__circles p {
  color: white;
}
.product-categories .pc__content .pc__circles .circle1-yellow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D8AA61;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.product-categories .pc__content .pc__circles .circle1-yellow .circle2-yellow {
  background-color: #E4B366;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-categories .pc__content .pc__circles .circle1-yellow .circle2-yellow img {
  padding: 10px;
  width: 80px;
}
.product-categories .pc__content .pc__circles .circle1-orange {
  background-color: #E4560F;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-categories .pc__content .pc__circles .circle1-orange .circle2-orange {
  background-color: #F05B10;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-categories .pc__content .pc__circles .circle1-orange .circle2-orange img {
  padding: 10px;
  width: 80px;
}
.product-categories .pc__content .pc__circles .circle1-red {
  background-color: #9A0F0F;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-categories .pc__content .pc__circles .circle1-red .circle2-red {
  background-color: #A21010;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-categories .pc__content .pc__circles .circle1-red .circle2-red img {
  padding: 10px;
  width: 80px;
}
.product-categories .pc__content .pc__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-categories .pc__content .pc__info .pc__txt {
  width: 40%;
  margin-bottom: 100px;
}
.product-categories .pc__content .pc__info .pc__txt p {
  font-size: 15px;
  color: #6E6E6E;
}
.product-categories .pc__content .vases {
  margin-top: 150px;
}
.product-categories .pc__content .vases img {
  width: 150px;
}
.product-categories .pc__content .vases .pc__vase {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-categories .pc__content .vases .pc__vase .vase-img {
  text-align: center;
  width: 49%;
}
.product-categories .pc__content .vases .pc__vase .vase_txt {
  width: 39%;
}
.product-categories .pc__content .vases .pc__vase .vase_txt p {
  color: #6E6E6E;
}
.product-categories .pc__content .vases .pc__vase2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}
.product-categories .pc__content .vases .pc__vase2 .vase-img {
  width: 39%;
  text-align: center;
}
.product-categories .pc__content .vases .pc__vase2 .vase_txt {
  width: 49%;
}
.product-categories .pc__content .vases .pc__vase2 .vase_txt p {
  width: 80%;
  color: #6E6E6E;
}

.white-button {
  border: none;
  background-color: white;
  padding: 10px 0;
}

.cards__info {
  margin-top: 100px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cards__info p {
  color: #AC1313;
  font-size: 10px;
  letter-spacing: 2px;
}

.collection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cards .card {
  margin-bottom: 15px;
  border: none;
  border-radius: 0;
}
.cards .card img {
  height: 350px;
}
.cards .card .card-body {
  border-bottom: 1px solid #eee;
}

.cards__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.red-button {
  background-color: #AC1313;
  padding: 15px 27px;
  color: white;
  border: none;
  width: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-left: 5px;
  font-size: 10px;
}

.ready-to-start {
  background: url(/images/platesbg.jpeg);
  background-size: cover;
  padding: 100px 0;
}
.ready-to-start h3 {
  font-size: 39px;
}
.ready-to-start span {
  color: #AC1313;
}
.ready-to-start span a {
  color: #AC1313;
}
.ready-to-start p {
  color: #6E6E6E;
}

.news .news__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}
.news .news__info .news__circle {
  background-color: #E4B366;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 50px;
}
.news .news__info .news__circle img {
  width: 40px;
}
.news .news__info .news__txt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.news .news__info .news__txt span {
  color: #AC1313;
}
.news .news__info .news__txt h3 {
  margin-bottom: 50px;
  font-size: 40px;
}
.news .news__info .news__txt h3 span {
  font-family: "Pacifico", cursive;
}
.news .news__info .news__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.news .news__info .news__form .checkbox {
  margin-bottom: 120px;
  margin-top: 50px;
}
.news .news__info .news__form .input-group {
  width: 500px;
}
.news .news__info .news__form .input-group button {
  height: 38px;
  font-size: 12px;
  border: none;
  color: white;
  background-color: #000;
  padding: 10px 50px;
}
.news .news__info .news__form .input-group input {
  background-color: #F8F9FA;
  border-radius: 0;
}
.news .news__info .news__form .input-group span {
  border-radius: 0;
}
.news .news__info .news__form .input-group img {
  width: 22px;
}

footer {
  background-color: #f7f7f7;
  padding: 100px 0;
}
footer .footer__txt {
  text-align: center;
  margin-bottom: 100px;
}
footer .footer__txt h1 {
  font-family: "Pacifico", cursive;
  font-weight: bold;
  margin-bottom: 20px;
}
footer .footer__txt p {
  color: #6E6E6E;
}
footer .footer__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 250px;
}
footer .footer__info .footer__item {
  text-align: center;
}
footer .footer__info .footer__item img {
  width: 50px;
}
footer .footer__info .footer__item span {
  color: #000;
  font-weight: bolder;
}
footer .footer__info .footer__item p {
  color: #6E6E6E;
}

.subfooter {
  background-color: #ebebeb;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.subfooter .sf__txt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.subfooter .sf__txt p {
  margin: 0;
  color: #6E6E6E;
}
.subfooter .sf__txt p span {
  color: #000;
  font-weight: bold;
}

.aboutus {
  background: url(/images/cupbg.jpg);
  background-size: cover;
  background-position: center;
}
.aboutus .aboutus__txt {
  padding: 150px 0;
}
.aboutus .aboutus__txt p {
  color: #6E6E6E;
}

.pr-artists {
  background-color: #f7f7f7;
  padding-bottom: 100px;
}
.pr-artists .artists__txt {
  text-align: center;
  padding-top: 100px;
}
.pr-artists .artists__txt span {
  color: #AC1313;
}
.pr-artists .artists__txt h2 {
  font-weight: bold;
  margin-bottom: 50px;
}
.pr-artists .artists__cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.pr-artists .artists__cards .card {
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}
.pr-artists .artists__cards .card .card-img-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.pr-artists .artists__cards .card .card-body {
  text-align: center;
}
.pr-artists .artists__cards .card .card-body .icons img {
  border-radius: 0;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 1px solid #d8d8d8;
}
.pr-artists .artists__cards .card .card-body .main-p {
  color: #000;
  font-size: 15px;
}
.pr-artists .artists__cards .card .card-body p {
  font-size: 10px;
  color: #6E6E6E;
}
.pr-artists .artists__cards .card .card-body .card-text {
  font-size: 15px;
}
.pr-artists .artists__cards .card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.love {
  padding: 100px 0;
}
.love .love__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.love .love__content .love__img {
  width: 600px;
}
.love .love__content .love__img img {
  width: 280px;
}
.love .love__content .love__txt p {
  color: #6E6E6E;
}
.love .love__content .love__txt h1 span {
  color: #AC1313;
}
.love .love__content .love__txt button {
  border: none;
  background-color: #fff;
}

.shop-main {
  padding: 150px 0;
  background: url(/images/platesbg.jpeg);
  background-size: cover;
}

.online-store {
  padding: 150px 0;
}
.online-store .os__content .os__txt {
  text-align: center;
}
.online-store .os__content .os__txt p {
  color: #AC1313;
}
.online-store .os__content .os__txt h1 {
  margin-bottom: 60px;
}

.contact-us {
  padding: 150px 0;
  background: url(/images/cupbg.jpg);
  background-size: cover;
  background-position: bottom;
}
.contact-us .cus__txt p {
  color: #6E6E6E;
}

.get-touch {
  background-color: #ebebeb;
  padding-top: 100px;
  padding-bottom: 100px;
}
.get-touch .gt__content .gt__form .gt__form__img {
  text-align: center;
}
.get-touch .gt__content .gt__form .gt__form__img img {
  width: 100%;
}
.get-touch .gt__content .gt__form .form__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.get-touch .gt__content .gt__form .form__content .left {
  background-color: #fff;
  width: 40%;
}
.get-touch .gt__content .gt__form .form__content .left .image {
  padding: 40px;
}
.get-touch .gt__content .gt__form .form__content .left .image img {
  width: 100%;
  height: 600px;
}
.get-touch .gt__content .gt__form .form__content .right {
  width: 60%;
  padding: 40px;
  background-color: #fff;
}
.get-touch .gt__content .gt__form .form__content .right input {
  height: 50px;
  border-radius: none;
  margin-bottom: 20px;
  background-color: #ebebeb;
}
.get-touch .gt__content .gt__form .form__content .right textarea {
  background-color: #ebebeb;
}
.get-touch .gt__content .gt__form .form__content .right .red_button {
  background-color: #AC1313;
  padding: 20px 27px;
  color: white;
  border: none;
  margin-top: 20px;
  margin-left: 5px;
  font-size: 10px;
  width: 25%;
}
.get-touch .gt__content .gt__txt {
  margin-bottom: 50px;
  text-align: center;
}
.get-touch .gt__content .gt__txt p {
  color: #AC1313;
}
.get-touch .gt__content .gt__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  margin-left: 85px;
}
.get-touch .gt__content .gt__info .gt__item {
  margin: 0px auto;
}
.get-touch .gt__content .gt__info .gt__item img {
  width: 50px;
}
.get-touch .gt__content .gt__info .gt__item span {
  color: #000;
  font-weight: bolder;
}
.get-touch .gt__content .gt__info .gt__item p {
  color: #6E6E6E;
}